*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Inter', sans-serif;
  background:#f3f2ef;
}

.container{
  max-width:800px;
  margin:40px auto;
  padding:20px;
}

/* NAVBAR */
nav{
  display:flex;
  justify-content:space-between;
  margin-bottom:30px;
}

nav a{
  text-decoration:none;
  font-weight:700;
  color:#0a66c2;
  margin-left:15px;
}

/* CARD */
.card{
  background:white;
  border-radius:12px;
  padding:20px;
  margin-bottom:25px;
  animation:fadeUp .8s ease;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(30px);
  }
  to{
    opacity:1;
    transform:none;
  }
}

/* PROFILE */
.profile{
  display:flex;
  align-items:center;
  gap:15px;
}

.profile img{
  width:70px;
  height:70px;
  border-radius:50%;
  object-fit:cover;
}

.name{
  font-size:24px;
  font-weight:900;   /* EXTRA BOLD */
}

.subtitle{
  color:#666;
}

/* POST IMAGE */
.post-img{
  width:100%;
  border-radius:10px;
  margin-top:15px;
}
